<app-navbar></app-navbar>

<section>

    <div class="card">
        <div *ngIf="success">
                <p style="color: red;">SuccessFully Subitted!!</p>
        </div>
        <div class="row">
            <div class="col-2"> <img src="https://i.ibb.co/yVGxFPR/2.png" width="70" class="rounded-circle mt-2"> </div>
            <div class="col-10">
            
                <div class="comment-box ml-2">
                    <h4>Add a comment</h4>
                    <form [formGroup]="userForm" (ngSubmit)="review()">
                        <div class="rating">
                            <input type="radio" formControlName="rating" value="5" id="5"><label for="5">☆</label>
                            <input type="radio" formControlName="rating" value="4" id="4"><label for="4">☆</label>
                            <input type="radio" formControlName="rating" value="3" id="3"><label for="3">☆</label>
                            <input type="radio" formControlName="rating" value="2" id="2"><label for="2">☆</label>
                            <input type="radio" formControlName="rating" value="1" id="1"><label for="1">☆</label>
                        </div>
                        <div class="comment-area"> <textarea class="form-control" formControlName="comment"
                                placeholder="what is your view?" rows="4"></textarea> </div>
                        <div class="comment-btns mt-2">
                            <div class="row">
                                <div class="col-6">
                                    <div class="pull-left"> <button routerLink="/user/products" class="btn btn-success btn-sm">Cancel</button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pull-right">
                                        <input type="submit" class="btn btn-success send btn-sm" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>