
.username{

    display: flex;
    justify-content: center;
    align-items: center;
}
.userpic{
    margin-left: 35%;
}

p{
    text-transform: capitalize;
    margin-bottom: 0;
    // color: aliceblue;
}

.navcolor{


    background: #2874f0;
    // background: linear-gradient(90deg, rgba(59,46,51,1) 27%, rgba(73,92,96,1) 79%, rgba(17,17,17,0.9196720924698004) 100%);

}
